.chatbot-background {
    background-image: url('../../assets/Images/forest-background-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160vh;
    width: 100%;
}


.chatbot-content{
    height: auto;
}